img {
	max-width: 100%;
}
small {
	font-size:11px;
}

a {
	text-decoration: none;
	color: #ffffff;
}

header {
	position: relative;
}
 
.main-page {
	height: 100vh;
	background-image: url(../img/inner.jpg);
	background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    position: relative;
}

.logo {
	padding: 30px;
}

.navigation {
	position: absolute;
	display: flex;
	right: 30px;
	top:30px;
}

.navigation li {
	color: #111111;
	font-family: Dosis;
	font-size: 12px;
	
	text-transform: uppercase;
/* Text style for ", ll Work" */
	letter-spacing: 5px;
	padding: 14px;
	list-style: none;
}

.title-main {
	margin-top: 108px;
	text-align: center;
	opacity: 0.9;
	color: #fefefe;
	font-family: Dosis;
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
/* Text style for "Thomas Rhy" */
	letter-spacing: 51.01px;
	margin-left: 130px;
}

.text-about-designer {
	margin-top: 100px;
	opacity: 0.68;
	color: #fefefe;
	font-family: "Open Sans";
	font-size: 19px;
	font-weight: 300;
	text-align: center;
}

.button-down {
	position: absolute;
	bottom: 35px;
	left: 50%;
}

.down {
	display: block;
	width: 23px;
	height: 23px;
	text-align: center;
	line-height: 23px;
	border-radius: 2px;
	font-size: 14px;
	transform: rotate(45deg);
}

.down> .fas  {
	transform: rotate(-45deg);
}

.conteiner {
	margin: 0 10%;
}

.row-3 {
	margin: 10% 0;
	display: flex;
	justify-content: center;
}
.row-3>div {
	width: 30%;
	
}

.worker-name, .worker-job {
	text-align: center;
	font-family: 'Dosis', sans-serif;
	color: #777777;
	text-transform: uppercase;
}

.worker-name {
	color: #777777;
	letter-spacing: 6px;
	margin: 30px 0 16px;
}

.worker-job {
	font-size: 12px;
	letter-spacing: 4.8px;
}
.title {
	margin-top: 6%;
    color: #111111;
    font-family: Dosis;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 9px;
    text-align: center;
}
.title-about {
	text-align: left;
	margin-top: 10%;
}
.sub-title-about{
	color: #777777;
	font-family: "Open Sans";
	font-size: 24px;
	font-weight: 300;
	line-height: 38px;
	margin-left: 5%;
}

.text-about{
	color: #777777;
	font-family: Dosis;
	font-size: 15px;
	font-weight: 300;
	line-height: 26px;
	text-align: center;
	margin:5% 0;
}

.title-about { 
    color: #111111;
    font-family: Dosis;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 9px;
}

.worker {
	margin: 0 5%;
}


/* section digital services*/

.digital-services {
	
	background-color: #111111;
	margin: 5% 0;
	position: relative;
}
.white-title {
    color: #ffffff;
    font-family: Dosis;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 5.4px;
    

}
.white-text{
	opacity: 0.7;
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 300;
	line-height: 26px;
	max-width: 60%;
}

.monitorImg {
	position: absolute;
	right: 0;
	top: -40px;
}

.white_button {
	margin-top: 3%;
	padding: 5px 12px;
	width: 15%;
	height: 40px;
	color: #777777;
 	font-family: "Open Sans";
 	font-size: 11px;
	font-weight: 400;
	line-height: 26px;
	text-transform: uppercase;
	letter-spacing: 2.2px;
}
.white_button::hover {
}
.digital-services-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 443px;
}
/* Black section*/
.creative-works {
	background-color: black;
	height: 218px;
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
    margin: 0 -1px;
}

/*section for choise*/

.button-start-project {
	width: auto;
	padding: 5px 50px;
	margin:24px 0;
}

.title-item {
    color: #111111;
    font-family: Dosis;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5.6px;
    margin-top: 35px;
    
}

.custom-icons span{
	width: 42px;
	height: 48px;
	color: #111111;
	font-family: "et -line";
	font-size: 48px;
	font-weight: 400;
/* Text style for "" */
	letter-spacing: 24px;
	margin: 35px;
}

.conteiner-icons {
	margin: 10% 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.conteiner-icons>div {
	width: 30%;
	margin: 0 1%;
	
}

.center{
	text-align: center;
}
.row-margin {
	margin-top: 40px;
}

.porfolio-text-about{
	width: 750px;
	color: #777777;
    font-family: Dosis;
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    text-align: center;
    margin: 4% 23%;
}
.portfolio-list {
	display: flex;
	justify-content: center;
}
.portfolio-list li {
	color: #111111;
	font-family: Dosis;
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
/* Text style for "A, ll Work" */
	letter-spacing: 5.2px;
	padding: 35px;
	list-style: none;
}
 
 .portfolio-list li a {
 	color: #9D9D9D;
 }

 .portfolio-list li a:hover {
 	color: #111111;
 }

.portfolio-galery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.gray-layer {
	width: 33%;
	filter: grayscale(100%);
}

.gray-layer:hover {
	filter: none;
	cursor: pointer;
}

.list-services {
	margin-top: 121px;
	display: flex;
	justify-content: center;
}

.list-services li{
	text-align: center;
	margin: 0 3%;
	list-style-type: none;
	color: grey;
}
.list-services li span {
	font-size: 48px;
	font-weight: 400;
}

.active-icon, .active-icon span {
	color: #111111;
}

h4.title.title-about {
	text-align: center;
}

.with-us {

	height: 264px;
    width: auto;

    
}

.with-us>div {
	display: flex;
	flex-direction: row;
}

/* START SECTION SUBSCRIBE */
.subscribe {
	background-color: #f8f8f8;
	display: flex;
	align-items: center;
	justify-content: center;
}
.email-border {
	margin: 21px 0 0 0 ;
	width: 420px;
	height: 46px;
	justify-content: center;
 	align-items: center;
 	font-family: "Open Sans";
	font-size: 12px;
	font-weight: 400;
	line-height: 26px;
	text-transform: uppercase;
	letter-spacing: 2.4px;
	color: #777777;
}

.button-subscribe {
	margin-top: auto;
	width: 190px;
	height: 54px;
	background-color: #000000;
	opacity: 0.8;
	font-family: "Open Sans";
	font-size: 13px;
	font-weight: 400;
	line-height: 26px;
	text-transform: uppercase;
	color: #ffffff;
	letter-spacing: 2.6px;
}

.title-subscribe {
	margin-top: 11%;
    color: #111111;
    font-family: Dosis;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 9px;
    text-align: center;
}

.subscribe-index {
	text-align: center;
	margin-top: 20px;
	color: #aaaaaa;
font-family: "Open Sans";
font-size: 11px;
font-weight: 400;
line-height: 26px;
}

/*END SECTION SUBSCRIBE*/

/* section latest news */
.conteiner-news {
	width: 370px;
	margin-right: 4%;
}
.conteiner-news> p {
	text-align: left;
}

.button-read {
	width: 118px;
	
	color: #777777;
	font-family: "Open Sans";
	font-size: 11px;
	font-weight: 400;
	line-height: 26px;
	text-transform: uppercase;
/* Text style for "R, ead Mor" */
	letter-spacing: 2.2px;

}



/*START SECTION CONTACT */
.contacts {
    margin: 0 20%;
}

.contact-part {
	display: flex;
	flex-direction: row;
}
.contact-part> div> i {
	font-size: 36px;

}

.contact-text {
	margin-left: 15px;
}

.contact-title {
	color: #777777;
font-family: Dosis;
font-size: 12px;
font-weight: 400;
letter-spacing: 3.6px;
text-transform: uppercase;
}

.contacts-info {
	margin-top: 6%;
	color: #444444;
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 300;
}
.contact-inputs {
    display: flex;
    margin-top: -5%;
}

.contact-inputs div {
    width: 50%;
    margin: 6% 0 3%;
}

.contact-inputs input, .contact-inputs textarea {
    width: 98%;
    height: 36px;
    margin: 5px 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #777777;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
}

.contact-inputs textarea {
    height: 85px;
}

/*END SECTION CONTACT*/

/* start section footer*/

.last-conteiner {
	height: 400px;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 flex-direction: column;

}

.conteiner-footer {
	width: 220px;
	display: flex;

	justify-content: row;
	justify-content: space-around;
}

.copiryt-title {
	margin-top: 100px;
	text-transform: uppercase;
	font-family: "Open Sans";
	font-size: 11px;
	font-weight: 400;
	line-height: 24px;
}

.copiryt-subtitle {
	color: #999999;
	font-family: "Open Sans";
	font-size: 12px;
font-weight: 400;
letter-spacing: 6px;

}

@media screen and (max-width: 960px) {

	.row-3  {

		flex-wrap: wrap;
	}

	.row-3 > div {
		width: 50%
	}
	.row-3 .sub-title-about {
		width: 100%
	}
	.row-3 .text-about {
		text-align: center;
		width: 100%;
	}
	.conteiner {
		width: 100%;
		flex-wrap: wrap;
	}
	.monitorImg {
		display: none;
	}
	.text-about {
		padding: 10px;
	}

	.list-services {
		flex-wrap: wrap;
	}
	.portfolio-text {
		max-width: 90%;
	}
	.gray-layer {
		width: 50%;
	}
	.contacts {
		margin: 0 4%;
	}
	.contacts-inputs {
		flex-direction: column;

	} 
	.contact-inputs > div{
		width: 100%;
		margin:0;
	}
	.button-subscribe {
		
	}
}


@media screen and (max-width: 600px;) {
    .main-page {
    	 height: 100%;
    }

    .title-main{
    	font-size: 10px;        
        margin-top: 10%;
    }

	.text-about-designer {
		font-size: 10px;
	}

	.porfolio-list {
		flex-direction: column;
		align-items: center;
	}
	.gray-layer {
		width: 100%;
	}
	.row-3  {

		flex-wrap: wrap;
	}

	.row-3 > div {
		width: 100%
	}
	.row-3 .sub-title-about {
		width: 100%
	}
	.row-3 .text-about {
		text-align: center;
		width: 100%;
	}
	
    .portfolio-list {
        flex-direction: column;
        align-items: center;
    }

    .navigation {
    	display: none;
    }
    .digital-services-contant {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .monitorImg {
        display: none;
    }
    .porfolio-text-about{
        margin: 4% 12%;
    }
}